extends layout

block content
  h1 Search results cars  
  -  var results = [{"carName":"Tesla","carModel":"Model 3","cost":52000},{"carName":"Toyota","carModel":"Highlander 22","cost":96000},{"carName":"Ford","carModel":"Explorer 22","cost":840000}]
  div.container-fluid
   div.row
    each item,index in results 
     div.col-sm-2(onclick=`buy(${index})`) Company Name: #{item["carName"]}  <br>  Car Type: #{item["carModel"]} <br> Cost: #{item["cost"]} 
  
   
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
